
body {
   background: radial-gradient(#66804f, #b7e5e8);
   background-image: url(img/gridimage.png);
   border: 0;
   margin: 0;
   padding: 0;
   width: 90%;
}

main {
   width: 100%;
}
b {
   font-style: bold;
}

h1 {
   color: blue;
   width: 100%;
};

.bar {
   width: 100%;
   text-align: left;
   margin-top: 240px;
   margin-left: 50px;
   right: 100px;
   transition: 2s;
   z-index: 10;
   height: 100%;
}

nav a {
   margin-left: 80px;
   font-size: 40px;
   line-height: 50px;
   color: #ffd280;
   text-decoration: none;
   font-family: Squada One, cursive;
   width: 20%;
}

nav a:hover {
   text-decoration: none;
   color: #d6fff5;
}

nav a:visited {
   text-decoration: none;
   font-size: 82px;
}

.titlepage {
   position: absolute;
   width: 100%;
   text-align: right;
   z-index: 20;
   margin: 180px;
   width: 220px;
   height: 250px;
   margin-left: 600px;
   border-left: 5px;
   border-top: 0;
   border-bottom: 5px;
   border-style: dotted;
   border-color: #b7e5e8;
}

.titlepage h1 {
   position: absolute;
   font-size: 380px;
   text-align: center;
   margin: auto;
   color: #b7e5e8;
   line-height: 31px;
   margin-top: 35px;
   left: 20px;
   font-family: Squada One, cursive;
   z-index: 40;
}

.titlepage h2 {
   position: absolute;
   font-size: 42px;
   margin: 100px;
   top: 80px;
   margin-left: 80px;
   color: #b7e5e8;
   line-height: 50px;
   text-align: left;
   font-family: Rubik Mono One, sans-serif;
   z-index: 60;
}

.titlepage h3 {
   position: absolute;
   font-size: 120px;
   text-align: center;
   margin: auto;
   color: #ffee8c;
   line-height: 100px;
   margin-top: 200px;
   right: 12px;
   font-family: Major Mono Display, monospace;
   letter-spacing: .5px;
   z-index: 50;
}

.titlepage h4 {
   position: absolute;
   font-size: 45px;
   text-align: center;
   margin: auto;
   color: #ffd280;
   line-height: 40px;
   margin-top: 410px;
   left: 200px;
   font-family: Squada One, cursive;
   z-index: 70;
}

.pages-container {
   position: absolute;
   margin-left: 0;
   margin-top: 50px;
   z-index: 900;
   width: 1180px;
   height: 720px;
   left: 200px;
   overflow: scroll;
}

blockquote {
   color: #ffd280;
   font-family: Cantarell, sans-serif;
   font-size: 30px;
   height: 90%;
   text-align: center;
   margin: auto;
   padding: auto;
}

.pages-container h5 {
   padding-top: 20px;
   font-size: 50px;
   text-align: left;
   margin-left: 20px;
}

.pages-container h6 {
   font-size: 30px;
}

.pages-container h7 {
   font-size: 20px;
   text-align: left;
   margin-left: 20px;
   margin-right: 20px;
}

.rule1 {
   position: absolute;
   background-color: rgba(255, 255, 255, .8);
   text-align: right;
   z-index: 20;
   margin: 50px;
   width: 400px;
   height: 730px;
   margin-left: 900px;
}

.rule2 {
   position: absolute;
   background-color: rgba(214, 255, 245, .4);
   text-align: right;
   z-index: 20;
   margin: 50px;
   width: 400px;
   height: 730px;
   margin-left: 1350px;
}

.rule3 {
   position: absolute;
   background-color: rgba(183, 229, 232, .8);
   text-align: right;
   z-index: 20;
   margin: 50px;
   width: 400px;
   height: 730px;
   margin-left: 1800px;
}

.rule4 {
   position: absolute;
   background-color: rgba(255, 255, 255, .8);
   text-align: right;
   z-index: 20;
   margin: 50px;
   width: 400px;
   height: 730px;
   margin-left: 2250px;
}

.rule5 {
   position: absolute;
   background-color: rgba(214, 255, 245, .4);
   text-align: right;
   z-index: 20;
   margin: 50px;
   width: 400px;
   height: 730px;
   margin-left: 2700px;
}

.rule6 {
   position: absolute;
   background-color: rgba(183, 229, 232, .8);
   text-align: right;
   z-index: 20;
   margin: 50px;
   width: 400px;
   height: 730px;
   margin-left: 3150px;
}

.rule7 {
   position: absolute;
   background-color: rgba(255, 255, 255, .8);
   text-align: right;
   z-index: 20;
   margin: 50px;
   width: 400px;
   height: 730px;
   margin-left: 3600px;
}

.rule8 {
   position: absolute;
   background-color: rgba(214, 255, 245, .4);
   text-align: right;
   z-index: 20;
   margin: 50px;
   width: 400px;
   height: 730px;
   margin-left: 4050px;
}

.rule9 {
   position: absolute;
   background-color: rgba(183, 229, 232, .8);
   text-align: right;
   z-index: 20;
   margin: 50px;
   width: 400px;
   height: 730px;
   margin-left: 4500px;
}

.rule10 {
   position: absolute;
   background-color: rgba(255, 255, 255, .8);
   text-align: right;
   z-index: 20;
   margin: 50px;
   width: 400px;
   height: 730px;
   margin-left: 4950px;
}

.rule11 {
   position: absolute;
   text-align: right;
   z-index: 20;
   margin: 50px;
   width: 400px;
   height: 730px;
   margin-left: 6200px;
}

.rule12 {
   position: absolute;
   background-color: rgb(255, 210, 128);
   text-align: right;
   z-index: 20;
   margin: 50px;
   width: 25px;
   height: 100%;
   margin-left: 6800px;
}
