
body {
   background: radial-gradient(#ffee8c, #d6fff5);
   border: 0;
   margin: 0;
   padding: 0;
}

b {
   font-style: bold;
}

h1 {
   color: blue;
   width: 100%;
};

.bar {
   width: 20%;
   text-align: left;
   margin-top: 200px 0;
   right: 100px;
   font-family: Cantarell, sans-serif;
   transition: 2s;
   z-index: 10;
   height: 100%;
}

nav a {
   font-size: 120px;
   line-height: 80px;
   color: #d6fff5;
   text-decoration: none;
   width: 20%;
}

nav a:hover {
   color: #ff9ff9;
   text-decoration: none;
   font-size: 120px;
}

nav a:visited {
   color: #b7e5e8;
   text-decoration: none;
   font-size: 82px;
}

.titlepage {
   position: absolute;
   background-color: rgba(255, 255, 255, 0.5);
   text-align: right;
   z-index: 20;
   margin: 150px;
   width: 400px;
   height: 500px;
   margin-left: 340px;
   border-left: 5px;
   border-top: 5px;
   border-bottom: 5px;
   border-style: dotted;
   border-color: #ff9ff9;
}

.titlepage h1 {
   font-size: 200px;
   text-align: center;
   margin: auto;
   color: #ffee8c;
   line-height: 62px;
   margin-top: 79px;
   margin-bottom: 0;
   font-family: Rubik Mono One, sans-serif;
}

.titlepage h2 {
   font-size: 40px;
   margin: auto;
   color: #b7e5e8;
   line-height: 40px;
   text-align: center;
   font-family: Rubik Mono One, sans-serif;
}

.titlepage h3 {
   font-size: 90px;
   text-align: center;
   margin: auto;
   color: #ff9ff9;
   line-height: 100px;
   margin-top: 0;
   font-family: Major Mono Display, monospace;
}

.pages-container {
   position: absolute;
   background-color: red;
   z-index: 30;
   width: 100%;
}

blockquote {
   color: white;
   font-family: Cantarell, sans-serif;
   font-size: 40px;
   height: 90%;
   text-align: center;
   margin: 20px;
   padding: 10px;
   overflow: scroll;
}

.rule1 {
   position: absolute;
   background-color: #d6fff5;
   text-align: right;
   z-index: 20;
   margin: 50px;
   width: 400px;
   height: 750px;
   margin-left: 1000px;
}

.rule2 {
   position: absolute;
   background-color: #ffee8c;
   text-align: right;
   z-index: 20;
   margin: 50px;
   width: 400px;
   height: 750px;
   margin-left: 1450px;
}

.rule3 {
   position: absolute;
   background-color: #d6fff5;
   text-align: right;
   z-index: 20;
   margin: 50px;
   width: 400px;
   height: 750px;
   margin-left: 1900px;
}

.rule4 {
   position: absolute;
   background-color: #ffee8c;
   text-align: right;
   z-index: 20;
   margin: 50px;
   width: 400px;
   height: 750px;
   margin-left: 2350px;
}

.rule5 {
   position: absolute;
   background-color: #d6fff5;
   text-align: right;
   z-index: 20;
   margin: 50px;
   width: 400px;
   height: 750px;
   margin-left: 2800px;
}

.rule6 {
   position: absolute;
   background-color: #ffee8c;
   text-align: right;
   z-index: 20;
   margin: 50px;
   width: 400px;
   height: 750px;
   margin-left: 3250px;
}

.rule7 {
   position: absolute;
   background-color: #d6fff5;
   text-align: right;
   z-index: 20;
   margin: 50px;
   width: 400px;
   height: 750px;
   margin-left: 3700px;
}

.rule8 {
   position: absolute;
   background-color: #ffee8c;
   text-align: right;
   z-index: 20;
   margin: 50px;
   width: 400px;
   height: 750px;
   margin-left: 4150px;
}

.rule9 {
   position: absolute;
   background-color: #d6fff5;
   text-align: right;
   z-index: 20;
   margin: 50px;
   width: 400px;
   height: 750px;
   margin-left: 4600px;
}

.rule10 {
   position: absolute;
   background-color: #ffee8c;
   text-align: right;
   z-index: 20;
   margin: 50px;
   width: 400px;
   height: 750px;
   margin-left: 5050px;
}
